:root {
    --clr-1: #2B2D42;
    --clr-2: #E86A92;
    --clr-3: #F7E733;
    --clr-4: #F7F7F9;
    --clr-5: #41E2BA;
    --clr-6: #C1666B;

    --dark80: rgba(48, 79, 89, .8);
    --dark60: rgba(48, 79, 89, .6);
    --transition: all 0.3s ease 0s;

    --ff: 'Inter', sans-serif;
    --fw-reg: 300;
    --fw-bold: 900;

    --fs-h1: 4rem;
    --fs-h2: 2.0rem;
    --fs-h3: 1.6rem;
    --fs-h4: 1.4rem;
    --fs-h5: 1.2rem;
    --fs-body: 1rem;

    --pd: 0 6em;
}

@media screen and (min-width:320px) {
    :root {
        --fs-h1: 4rem;
        --fs-h2: 2.0rem;
        --fs-h3: 1.6rem;
        --fs-h4: 1.4rem;
        --fs-h5: 1.2rem;
        --fs-body: 1rem;

        --pd: 0 6em;
    }
}

/* Reset class*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    /* Tell browser what to do when resize => overflow */
    overflow: auto;


}

body {
    background: linear-gradient(var(--dark60),
        var(--dark80)),
    url("https://source.unsplash.com/featured/?{car},{speed}");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lato", sans-serif;

}

/* TYPOGRAPHY */

h1 {
    font-size: clamp(calc(0.5*var(--fs-h1)), 2.61vw, var(--fs-h1));
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3);
}

h4 {
    font-size: var(--fs-h4);
}

h5 {
    font-size: var(--fs-h5);
}

p {
    font-size: clamp(1rem, 1.6vw, 1.29rem);
}


.collection.with-header .collection-item {
    padding-left: 2px;
}